.footer{
    background-color: hotpink;
    position: absolute;
    padding: 0;
    text-align: center;
    display: block;
    height: 120px;
    width:100%;
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
    border: indigo solid 5px;
    /* border: solid black 3px; */
    
}



.aPropos{
    display: flex;
    flex-direction: row;
    align-items:flex-start;    
    margin: 20px;
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* border: solid black 3px; */
}

.emoji{
    height: 40px;
    width:40px;
    padding: 10px;
}

li{
    display: flex;
    padding: 20px;
}
