.form-global {

    margin: 0px 20vw;
    margin-top: 60px;
    background-color: hotpink;
    width: 60vw;
    height: 680px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 10px 5px 5px indigo;
    border: 5px solid indigo;
    display: flex;
    justify-content: center;
    flex-flow: column;

  }
  
  .form-h1 {

    color: indigo;
    margin-top: 5px;
    margin-bottom: 5px;
    border: greenyellow solid 3px;
    border-radius: 30px; 
    padding: 10px;
    width: 250px;
    align-self: center;

  }

  .form-h4 {
    
    color: indigo;
  }
  
  .mandatory-data {

    margin: 15px;
    width: 200px;
    border-radius: 10px;
    border: 2px solid indigo;
  
  }

  .preference {
    color: indigo;
    text-weight: 700;
    margin-top: -5px;
    border-radius: 20px;
    width: 100px;
    align-self: center;
  

  }
  
  .form-dropdownmenu {
  
    margin-top: 0px;
    margin-bottom: 5x;
    width: 140px;
    border-radius: 10px;
    border: 2px solid indigo;
    color: indigo;
    text-align: center;
    text-weight: 700px;
  
  }

  .form-dropdownmenu2 {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 140px;
    border-radius: 10px;
    border: 2px solid indigo;
    color: indigo;
    text-align: center;
    text-weight: 700px;


  }
  
  .form-message {

    width: 40%;
    height: 100px;
    border-radius: 10px;
    border: 3px solid indigo;
    
  }
  
  .form-submit {

    margin-top: 20px;
    border-radius: 10px;
    width: 100px;
    height: 25px;
    text-transform: uppercase;
    background-color: white;
    color: indigo;
    border: 1px solid indigo;
    box-shadow: 5px 5px 5px indigo;
    
  }

  .Confirmation-form {
    text-align: center;
    padding: 200px;
    background-color: hotpink;
    color: indigo;
  }