.form-global {

    margin: 0px 20vw;
    margin-top: 120px;
    background-color: hotpink;
    width: 60vw;
    height: 640px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 10px 5px 5px indigo;
    border: 5px solid indigo;

  }
  
  .form-h1 {

    color: indigo;
    margin-top: 5px;
    margin-bottom: 5px;
    border: greenyellow solid 3px;
    border-radius: 30px;
    margin-right: 22vw;
    margin-left: 22vw;

  }

  .form-h4 {
    
    color: indigo;
  }
  
  .mandatory-data {

    margin: 15px;
    width: 200px;
    border-radius: 10px;
    border: 2px solid indigo;
  
  }
  
  .form-dropdownmenu {
  
    margin-top: 20px;
    margin-bottom: 5x;
    width: 140px;
    border-radius: 10px;
    border: 2px solid indigo;
    color: indigo;
    text-align: center;
    text-weight: 700px;
  
  }

  .form-dropdownmenu2 {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 140px;
    border-radius: 10px;
    border: 2px solid indigo;
    color: indigo;
    text-align: center;
    text-weight: 700px;


  }
  
  .form-message {

    width: 400px;
    height: 200px;
    border-radius: 10px;
    border: 3px solid indigo;
    
  }
  
  .form-submit {

    margin-top: 20px;
    border-radius: 10px;
    width: 100px;
    height: 25px;
    text-transform: uppercase;
    background-color: white;
    color: hotpink;
    border: 1px solid indigo;
    
  }

  .Confirmation-form {
    text-align: center;
    padding: 200px;
    background-color: hotpink;
    color: indigo;
  }