
* {
  box-sizing: border-box;
}

.App {
  /* max-width:1024px; */
  margin: 0 auto;
}


.navbar {
  height: 100%;
  background-color: hotpink;
  align-items: center;

}
.list {
  display: flex;
  justify-content: space-evenly;
  border: indigo solid 5px;
  height: 70px;
  align-items: center;

}
.pages {
  display: flex;
  justify-content: space-evenly;
  border-radius: 20px;
  border: greenyellow solid 3px;
  padding: 10px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}